%h1 All Articles

%p.flash= flash[:notice]

= link_to "New Article", new_article_path, :class => 'new_article'

#sidebar Filter by Tag: #{tag_links(Tag.all)}

%ul#articles= render @articles

= paginate @articles