%h1= @article.title

%p.flash= flash[:notice]

.article_actions
  = edit_icon(@article, " Edit")
  = delete_icon(@article, " Delete")
  = link_to "Back to All Articles", articles_path

%p= @article.body

%p.tag_list
  %em Tagged: #{@article.tag_list}

= render :partial => 'common/comments', :locals => {:subject => @article}